extends layout

block content
    div(id='signin')
        form(id='form', method='post', action='/create')
            label(for='userName') Name: 
            input(type='text', name='userName')
            br
            label(for = 'password') Password:
            input(type = 'password', name = 'password')
            br
            label(for='age') Age: 
            input(type='text', name='age')
            br
            label(for='email') Email Address: 
            input(type='text', name='email')
            br
            label(for='userAnswer1') How do you like your potatoes prepared: 
            select(id="userAnswer1", name="userAnswer1")
                -for(var i = 0;i<1;i++){
                    option(value="Boiled") Boiled
                    option(value="Fried") Fried
                    option(value="Mashed") Mashed
                    option(value="Baked") Baked
                -}
            br
            label(for='userAnswer2') Favorite Type of potatoe: 
            select(id="userAnswer2", name="userAnswer2")
                -for(var i = 0;i<1;i++){
                    option(value="Sweet potatoes") Sweet potatoes
                    option(value="Russet potatoes") Russet potatoes
                    option(value="Red potatoes") Red potatoes
                    option(value="White potatoes") White potatoes
                -}
            br
            label(for='userAnswer3') Favorite Type of fried potatoe: 
            select(id="userAnswer3", name="userAnswer3")
                -for(var i = 0;i<1;i++){
                    option(value="French Fries") French Fries
                    option(value="Tatter tots") Tatter tots
                    option(value="Potato Wedges") Potato Wedges
                    option(value="Hash Browns") Hash Browns
                -}

            br
            input(type='submit', value='Add Person' id='SignIn')
