extends layout

block content
  p Username: #{user.userName}
  p Age: #{user.age}
  p Email: #{user.email}
  p 
  br
  canvas(id="canvasId")
  script(src="/barGraph.js")
  #menu
    a(href='/') Go back