extends layout

block content
  p Name: #{person.name}
  p Age: #{person.age}
  p Gender: #{person.gender}
  p Description: #{person.description}
  br
  canvas(id="canvasId")
  script(src="barGraph.js")
  #menu
    a(href='/') Go back