extends layout

block content
	div(id='signin')
		form(id='form', method='post', action='/create')
			label(for='userName') UserName: 
			input(type='text', name='name')
			br
			label(for='password') Password: 
			input(type='text', name='password')
			br
			label(for='email') Email:
			input(type='text', name='email')
			br
			label(for='age') Age:
			input(type='text', name='age')
			br
			input(type='submit', value='Add Person')