#signup{
	float: right;
	
}
#signup a{
	color: #2f2e2e;
}
#signin{
	width: 300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#signin h1{
	text-align: center;
}
#signin input{
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:5px;
	
}
input{
width: 20em;  
height: 2em;
}
body{
	background: #bddfb3;
	color: #2f2e2e;
}
h1{
	color: #2f2e2e;
}
label {
	display: block;
	width: 100px;
}
#stuff{
	color:aqua;
}
.answers{
	visibility: hidden;
}
#boiled{
}
#baked{
	
}
#mashed{
}
#fried{
}
#sweet{
	
}
#russet{
	
}
#white{
	
}
#red{
}
#sweet{
	
}
#fires{
	
}
#tots{
}
#wedges{
	
}
